# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# constants for mLab DB for dev environment
/config/dev_constants.js

# client
/client/node_modules
